<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Tutorial</title>
    <link href="style.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="vue-app">

        <h1>{{ greet('afternoon') }}</h1>
        <p>Emp name: {{name}}</p>
        <p>Emp job role: {{job}}</p>

        <br>

        <h1>{{databindtitle}}</h1> <br>
        <a v-bind:href="website">clik for data binding</a>
        <input type="text" v-bind:value="job"/>
        <br>
        <p v-html="websiteTag"></p>
    
    </div>

    <div id="vue-events">

        <h1>Events</h1>
        <button @click="add(1)">Add a year</button>
        <button v-on:click="subcract(1)">Subcract a year</button>
        <button @click="add(10)">Add 10 years</button>
        <button v-on:click="subcract(10)">Subcract 10 years</button>
        <button v-on:dblclick="add(20)">Add 20 years</button>
        <button v-on:dblclick="subcract(20)">Subcract 20 years</button>
        <p>My age is {{age}}</p>
        <div id="canvas" v-on:mousemove="updateXY">{{x}},{{y}}</div>
        <a v-on:click.prevent="click" href="https://kemal8.github.io/nxtotravel/">Go to my web site</a>

    </div>

    <div id="vue-keyboard-event">

        <h1>Keyboard Event</h1>
        <label>Name:</label>
        <input type="text" v-on:keyup.enter="logName"/><br><br>
        <label>Age:</label>
        <input type="text" v-on:keyup.alt.enter="logAge"/>

    </div>

    <div id="vue-2-way-data-binding">

        <h1>2 WayData Binding</h1>
        <label>Name:</label>
        <input type="text" v-model="name"/><br><br>
        <label>Age:</label>
        <input type="text" v-model="age"/><br><br>
        <span>{{name}}</span><br>
        <span>{{age}}</span>

    </div>

    <div id="vue-computed-properties">

        <h1>Computed Properties</h1>
        <button v-on:click="a++">A to add</button>
        <button v-on:click="b++">B to add</button> <br>
        <p>A - {{a}}</p>
        <p>b - {{b}}</p>
        <p>Age + A = {{addToA}}</p>
        <p>Age + B = {{addToB}}</p>

    </div>

    <div id="vue-conditions">

        <h1>Conditions</h1>
        <button v-on:click="error =!error">Toggle Error</button>
        <button v-on:click="success = !success">Toggle Success</button>
        <p v-if="error">This is error message!</p>
        <p v-else-if="success">This is success message!</p>

    </div>

    <div id="vue-looping-with-v-for">

        <h1>Looping through list With v-for</h1>
        <ul>
            <li v-for="character in characters">{{character}}</li>
        </ul>
        <ul>
            <li v-for="(character, index) in characters">{{index}} - {{character}}</li>
        </ul>
        <ul>
            <li v-for="ninja in ninjas">{{ninja}}</li>
        </ul>
        <ul>
            <li v-for="ninja in ninjas">{{ninja.name}} - {{ninja.age}}</li>
        </ul>
        <ul>
            <li v-for="(ninja, index) in ninjas">{{index}}.{{ninja.name}} - {{ninja.age}}</li>
        </ul>
        <template v-for="(ninja, index) in ninjas">
            <h3>{{index}}.{{ninja.name}}</h3>
            <p>{{ninja.age}}</p>
        </template> <br>
        <template v-for="ninja in ninjas">
            <div v-for="(val,key) in ninja">
                <p>{{key}} - {{val}}</p>
            </div>
        </template>

    </div>

    <h1>Multiple Vue Instance</h1>
    <div id="multiple-vue-instance-one">

        <h2>{{title}}</h2>
        <p>{{greet}}</p>

    </div>

    <div id="multiple-vue-instance-two">

        <h2>{{title}}</h2>
        <p>{{greet}}</p>
        <button v-on:click="changeTitle">Change app one title</button>
        <button v-on:click="resetTitle">Reset app one title</button>

    </div>

    <h1>Components</h1>
    <div id="vue-components-one">

        <h2>Vue app two</h2>
        <greeting></greeting>

    </div>

    <div id="vue-components-two">

        <h2>Vue app two</h2>
        <greeting></greeting>

    </div>

    <div id="vue-refs">

        <h2>Vue Referencing with $refs</h2>
        <input type="text" ref="input" />
        <button v-on:click="readRefs">Submit</button>
        <p>My fav food is : {{output}}</p>

    </div>

    <script src="app.js"></script>

</body>
</html>